<script type="text/javascript">
  window.tlAuthenticated = <%= @tl_authenticated %>
</script>
<button ng-hide="!isAuthenticated" id="tl_sign_out" ng-click="logOut()">Sign out</button>
<div ui-view></div>
